@font-face {
  font-family: 'icomoon-feather';
  src:  url('fonts/icomoon-feather.eot?parex1');
  src:  url('fonts/icomoon-feather.eot?parex1#iefix') format('embedded-opentype'),
    url('fonts/icomoon-feather.ttf?parex1') format('truetype'),
    url('fonts/icomoon-feather.woff?parex1') format('woff'),
    url('fonts/icomoon-feather.svg?parex1#icomoon-feather') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-feather-"], [class*=" icon-feather-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-feather-activity:before {
  content: "\fbab";
}
.icon-feather-airplay1:before {
  content: "\fbac";
}
.icon-feather-alert-circle:before {
  content: "\fbad";
}
.icon-feather-alert-octagon:before {
  content: "\fbae";
}
.icon-feather-alert-triangle:before {
  content: "\fbaf";
}
.icon-feather-align-center1:before {
  content: "\fbb0";
}
.icon-feather-align-justify1:before {
  content: "\fbb1";
}
.icon-feather-align-left1:before {
  content: "\fbb2";
}
.icon-feather-align-right1:before {
  content: "\fbb3";
}
.icon-feather-anchor5:before {
  content: "\fbb4";
}
.icon-feather-aperture1:before {
  content: "\fbb5";
}
.icon-feather-archive4:before {
  content: "\fbb6";
}
.icon-feather-arrow-down6:before {
  content: "\fbb7";
}
.icon-feather-arrow-down-circle:before {
  content: "\fbb8";
}
.icon-feather-arrow-down-left1:before {
  content: "\fbb9";
}
.icon-feather-arrow-down-right1:before {
  content: "\fbba";
}
.icon-feather-arrow-left6:before {
  content: "\fbbb";
}
.icon-feather-arrow-left-circle:before {
  content: "\fbbc";
}
.icon-feather-arrow-right6:before {
  content: "\fbbd";
}
.icon-feather-arrow-right-circle:before {
  content: "\fbbe";
}
.icon-feather-arrow-up6:before {
  content: "\fbbf";
}
.icon-feather-arrow-up-circle:before {
  content: "\fbc0";
}
.icon-feather-arrow-up-left1:before {
  content: "\fbc1";
}
.icon-feather-arrow-up-right1:before {
  content: "\fbc2";
}
.icon-feather-at-sign:before {
  content: "\fbc3";
}
.icon-feather-award8:before {
  content: "\fbc4";
}
.icon-feather-bar-chart1:before {
  content: "\fbc5";
}
.icon-feather-bar-chart-2:before {
  content: "\fbc6";
}
.icon-feather-battery9:before {
  content: "\fbc7";
}
.icon-feather-battery-charging1:before {
  content: "\fbc8";
}
.icon-feather-bell3:before {
  content: "\fbc9";
}
.icon-feather-bell-off:before {
  content: "\fbca";
}
.icon-feather-bluetooth2:before {
  content: "\fbcb";
}
.icon-feather-bold2:before {
  content: "\fbcc";
}
.icon-feather-book11:before {
  content: "\fbcd";
}
.icon-feather-book-open:before {
  content: "\fbce";
}
.icon-feather-bookmark13:before {
  content: "\fbcf";
}
.icon-feather-box9:before {
  content: "\fbd0";
}
.icon-feather-briefcase4:before {
  content: "\fbd1";
}
.icon-feather-calendar9:before {
  content: "\fbd2";
}
.icon-feather-camera16:before {
  content: "\fbd3";
}
.icon-feather-camera-off:before {
  content: "\fbd4";
}
.icon-feather-cast1:before {
  content: "\fbd5";
}
.icon-feather-check2:before {
  content: "\fbd6";
}
.icon-feather-check-circle1:before {
  content: "\fbd7";
}
.icon-feather-check-square1:before {
  content: "\fbd8";
}
.icon-feather-chevron-down1:before {
  content: "\fbd9";
}
.icon-feather-chevron-left2:before {
  content: "\fbda";
}
.icon-feather-chevron-right2:before {
  content: "\fbdb";
}
.icon-feather-chevron-up1:before {
  content: "\fbdc";
}
.icon-feather-chevrons-down:before {
  content: "\fbdd";
}
.icon-feather-chevrons-left:before {
  content: "\fbde";
}
.icon-feather-chevrons-right:before {
  content: "\fbdf";
}
.icon-feather-chevrons-up:before {
  content: "\fbe0";
}
.icon-feather-chrome2:before {
  content: "\fbe1";
}
.icon-feather-circle2:before {
  content: "\fbe2";
}
.icon-feather-clipboard11:before {
  content: "\fbe3";
}
.icon-feather-clock7:before {
  content: "\fbe4";
}
.icon-feather-cloud18:before {
  content: "\fbe5";
}
.icon-feather-cloud-drizzle:before {
  content: "\fbe6";
}
.icon-feather-cloud-lightning2:before {
  content: "\fbe7";
}
.icon-feather-cloud-off:before {
  content: "\fbe8";
}
.icon-feather-cloud-rain2:before {
  content: "\fbe9";
}
.icon-feather-cloud-snow2:before {
  content: "\fbea";
}
.icon-feather-code5:before {
  content: "\fbeb";
}
.icon-feather-codepen2:before {
  content: "\fbec";
}
.icon-feather-codesandbox:before {
  content: "\fbed";
}
.icon-feather-coffee4:before {
  content: "\fbee";
}
.icon-feather-columns1:before {
  content: "\fbef";
}
.icon-feather-command1:before {
  content: "\fbf0";
}
.icon-feather-compass16:before {
  content: "\fbf1";
}
.icon-feather-copy3:before {
  content: "\fbf2";
}
.icon-feather-corner-down-left:before {
  content: "\fbf3";
}
.icon-feather-corner-down-right:before {
  content: "\fbf4";
}
.icon-feather-corner-left-down:before {
  content: "\fbf5";
}
.icon-feather-corner-left-up:before {
  content: "\fbf6";
}
.icon-feather-corner-right-down:before {
  content: "\fbf7";
}
.icon-feather-corner-right-up:before {
  content: "\fbf8";
}
.icon-feather-corner-up-left:before {
  content: "\fbf9";
}
.icon-feather-corner-up-right:before {
  content: "\fbfa";
}
.icon-feather-cpu:before {
  content: "\fbfb";
}
.icon-feather-credit-card3:before {
  content: "\fbfc";
}
.icon-feather-crop6:before {
  content: "\fbfd";
}
.icon-feather-crosshair:before {
  content: "\fbfe";
}
.icon-feather-database4:before {
  content: "\fbff";
}
.icon-feather-delete2:before {
  content: "\fc00";
}
.icon-feather-disc:before {
  content: "\fc01";
}
.icon-feather-dollar-sign:before {
  content: "\fc02";
}
.icon-feather-download10:before {
  content: "\fc03";
}
.icon-feather-download-cloud:before {
  content: "\fc04";
}
.icon-feather-droplet3:before {
  content: "\fc05";
}
.icon-feather-edit3:before {
  content: "\fc06";
}
.icon-feather-edit-2:before {
  content: "\fc07";
}
.icon-feather-edit-3:before {
  content: "\fc08";
}
.icon-feather-external-link1:before {
  content: "\fc09";
}
.icon-feather-eye10:before {
  content: "\fc0a";
}
.icon-feather-eye-off:before {
  content: "\fc0b";
}
.icon-feather-facebook5:before {
  content: "\fc0c";
}
.icon-feather-fast-forward1:before {
  content: "\fc0d";
}
.icon-feather-feather2:before {
  content: "\fc0e";
}
.icon-feather-figma:before {
  content: "\fc0f";
}
.icon-feather-file6:before {
  content: "\fc10";
}
.icon-feather-file-minus:before {
  content: "\fc11";
}
.icon-feather-file-plus:before {
  content: "\fc12";
}
.icon-feather-file-text3:before {
  content: "\fc13";
}
.icon-feather-film9:before {
  content: "\fc14";
}
.icon-feather-filter4:before {
  content: "\fc15";
}
.icon-feather-flag15:before {
  content: "\fc16";
}
.icon-feather-folder11:before {
  content: "\fc17";
}
.icon-feather-folder-minus1:before {
  content: "\fc18";
}
.icon-feather-folder-plus1:before {
  content: "\fc19";
}
.icon-feather-framer:before {
  content: "\fc1a";
}
.icon-feather-frown:before {
  content: "\fc1b";
}
.icon-feather-gift5:before {
  content: "\fc1c";
}
.icon-feather-git-branch:before {
  content: "\fc1d";
}
.icon-feather-git-commit:before {
  content: "\fc1e";
}
.icon-feather-git-merge:before {
  content: "\fc1f";
}
.icon-feather-git-pull-request:before {
  content: "\fc20";
}
.icon-feather-github2:before {
  content: "\fc21";
}
.icon-feather-gitlab1:before {
  content: "\fc22";
}
.icon-feather-globe6:before {
  content: "\fc23";
}
.icon-feather-grid4:before {
  content: "\fc24";
}
.icon-feather-hard-drive:before {
  content: "\fc25";
}
.icon-feather-hash1:before {
  content: "\fc26";
}
.icon-feather-headphones6:before {
  content: "\fc27";
}
.icon-feather-heart10:before {
  content: "\fc28";
}
.icon-feather-help-circle:before {
  content: "\fc29";
}
.icon-feather-hexagon:before {
  content: "\fc2a";
}
.icon-feather-home10:before {
  content: "\fc2b";
}
.icon-feather-image5:before {
  content: "\fc2c";
}
.icon-feather-inbox8:before {
  content: "\fc2d";
}
.icon-feather-info9:before {
  content: "\fc2e";
}
.icon-feather-instagram3:before {
  content: "\fc2f";
}
.icon-feather-italic2:before {
  content: "\fc30";
}
.icon-feather-key12:before {
  content: "\fc31";
}
.icon-feather-layers2:before {
  content: "\fc32";
}
.icon-feather-layout14:before {
  content: "\fc33";
}
.icon-feather-life-buoy1:before {
  content: "\fc34";
}
.icon-feather-link8:before {
  content: "\fc35";
}
.icon-feather-link-2:before {
  content: "\fc36";
}
.icon-feather-linkedin3:before {
  content: "\fc37";
}
.icon-feather-list9:before {
  content: "\fc38";
}
.icon-feather-loader:before {
  content: "\fc39";
}
.icon-feather-lock6:before {
  content: "\fc3a";
}
.icon-feather-log-in:before {
  content: "\fc3b";
}
.icon-feather-log-out:before {
  content: "\fc3c";
}
.icon-feather-mail7:before {
  content: "\fc3d";
}
.icon-feather-map6:before {
  content: "\fc3e";
}
.icon-feather-map-pin1:before {
  content: "\fc3f";
}
.icon-feather-maximize2:before {
  content: "\fc40";
}
.icon-feather-maximize-2:before {
  content: "\fc41";
}
.icon-feather-meh:before {
  content: "\fc42";
}
.icon-feather-menu6:before {
  content: "\fc43";
}
.icon-feather-message-circle:before {
  content: "\fc44";
}
.icon-feather-message-square:before {
  content: "\fc45";
}
.icon-feather-mic3:before {
  content: "\fc46";
}
.icon-feather-mic-off:before {
  content: "\fc47";
}
.icon-feather-minimize1:before {
  content: "\fc48";
}
.icon-feather-minimize-2:before {
  content: "\fc49";
}
.icon-feather-minus8:before {
  content: "\fc4a";
}
.icon-feather-minus-circle1:before {
  content: "\fc4b";
}
.icon-feather-minus-square1:before {
  content: "\fc4c";
}
.icon-feather-monitor3:before {
  content: "\fc4d";
}
.icon-feather-moon8:before {
  content: "\fc4e";
}
.icon-feather-more-horizontal:before {
  content: "\fc4f";
}
.icon-feather-more-vertical:before {
  content: "\fc50";
}
.icon-feather-mouse-pointer1:before {
  content: "\fc51";
}
.icon-feather-move4:before {
  content: "\fc52";
}
.icon-feather-music6:before {
  content: "\fc53";
}
.icon-feather-navigation2:before {
  content: "\fc54";
}
.icon-feather-navigation-2:before {
  content: "\fc55";
}
.icon-feather-octagon:before {
  content: "\fc56";
}
.icon-feather-package2:before {
  content: "\fc57";
}
.icon-feather-paperclip5:before {
  content: "\fc58";
}
.icon-feather-pause8:before {
  content: "\fc59";
}
.icon-feather-pause-circle1:before {
  content: "\fc5a";
}
.icon-feather-pen-tool:before {
  content: "\fc5b";
}
.icon-feather-percent1:before {
  content: "\fc5c";
}
.icon-feather-phone12:before {
  content: "\fc5d";
}
.icon-feather-phone-call:before {
  content: "\fc5e";
}
.icon-feather-phone-forwarded:before {
  content: "\fc5f";
}
.icon-feather-phone-incoming:before {
  content: "\fc60";
}
.icon-feather-phone-missed:before {
  content: "\fc61";
}
.icon-feather-phone-off:before {
  content: "\fc62";
}
.icon-feather-phone-outgoing:before {
  content: "\fc63";
}
.icon-feather-pie-chart2:before {
  content: "\fc64";
}
.icon-feather-play7:before {
  content: "\fc65";
}
.icon-feather-play-circle1:before {
  content: "\fc66";
}
.icon-feather-plus7:before {
  content: "\fc67";
}
.icon-feather-plus-circle1:before {
  content: "\fc68";
}
.icon-feather-plus-square1:before {
  content: "\fc69";
}
.icon-feather-pocket:before {
  content: "\fc6a";
}
.icon-feather-power4:before {
  content: "\fc6b";
}
.icon-feather-printer8:before {
  content: "\fc6c";
}
.icon-feather-radio4:before {
  content: "\fc6d";
}
.icon-feather-refresh-ccw:before {
  content: "\fc6e";
}
.icon-feather-refresh-cw:before {
  content: "\fc6f";
}
.icon-feather-repeat2:before {
  content: "\fc70";
}
.icon-feather-rewind2:before {
  content: "\fc71";
}
.icon-feather-rotate-ccw:before {
  content: "\fc72";
}
.icon-feather-rotate-cw:before {
  content: "\fc73";
}
.icon-feather-rss5:before {
  content: "\fc74";
}
.icon-feather-save3:before {
  content: "\fc75";
}
.icon-feather-scissors5:before {
  content: "\fc76";
}
.icon-feather-search10:before {
  content: "\fc77";
}
.icon-feather-send3:before {
  content: "\fc78";
}
.icon-feather-server2:before {
  content: "\fc79";
}
.icon-feather-settings4:before {
  content: "\fc7a";
}
.icon-feather-share6:before {
  content: "\fc7b";
}
.icon-feather-share-2:before {
  content: "\fc7c";
}
.icon-feather-shield4:before {
  content: "\fc7d";
}
.icon-feather-shield-off:before {
  content: "\fc7e";
}
.icon-feather-shopping-bag2:before {
  content: "\fc7f";
}
.icon-feather-shopping-cart2:before {
  content: "\fc80";
}
.icon-feather-shuffle3:before {
  content: "\fc81";
}
.icon-feather-sidebar:before {
  content: "\fc82";
}
.icon-feather-skip-back:before {
  content: "\fc83";
}
.icon-feather-skip-forward:before {
  content: "\fc84";
}
.icon-feather-slack1:before {
  content: "\fc85";
}
.icon-feather-slash:before {
  content: "\fc86";
}
.icon-feather-sliders1:before {
  content: "\fc87";
}
.icon-feather-smartphone:before {
  content: "\fc88";
}
.icon-feather-smile1:before {
  content: "\fc89";
}
.icon-feather-speaker2:before {
  content: "\fc8a";
}
.icon-feather-square3:before {
  content: "\fc8b";
}
.icon-feather-star10:before {
  content: "\fc8c";
}
.icon-feather-stop-circle1:before {
  content: "\fc8d";
}
.icon-feather-sun7:before {
  content: "\fc8e";
}
.icon-feather-sunrise3:before {
  content: "\fc8f";
}
.icon-feather-sunset6:before {
  content: "\fc90";
}
.icon-feather-tablet4:before {
  content: "\fc91";
}
.icon-feather-tag11:before {
  content: "\fc92";
}
.icon-feather-target9:before {
  content: "\fc93";
}
.icon-feather-terminal2:before {
  content: "\fc94";
}
.icon-feather-thermometer6:before {
  content: "\fc95";
}
.icon-feather-thumbs-down2:before {
  content: "\fc96";
}
.icon-feather-thumbs-up2:before {
  content: "\fc97";
}
.icon-feather-toggle-left1:before {
  content: "\fc98";
}
.icon-feather-toggle-right1:before {
  content: "\fc99";
}
.icon-feather-tool:before {
  content: "\fc9a";
}
.icon-feather-trash4:before {
  content: "\fc9b";
}
.icon-feather-trash-2:before {
  content: "\fc9c";
}
.icon-feather-trello2:before {
  content: "\fc9d";
}
.icon-feather-trending-down:before {
  content: "\fc9e";
}
.icon-feather-trending-up:before {
  content: "\fc9f";
}
.icon-feather-triangle:before {
  content: "\fca0";
}
.icon-feather-truck5:before {
  content: "\fca1";
}
.icon-feather-tv6:before {
  content: "\fca2";
}
.icon-feather-twitch2:before {
  content: "\fca3";
}
.icon-feather-twitter3:before {
  content: "\fca4";
}
.icon-feather-type2:before {
  content: "\fca5";
}
.icon-feather-umbrella6:before {
  content: "\fca6";
}
.icon-feather-underline2:before {
  content: "\fca7";
}
.icon-feather-unlock2:before {
  content: "\fca8";
}
.icon-feather-upload9:before {
  content: "\fca9";
}
.icon-feather-upload-cloud:before {
  content: "\fcaa";
}
.icon-feather-user10:before {
  content: "\fcab";
}
.icon-feather-user-check1:before {
  content: "\fcac";
}
.icon-feather-user-minus1:before {
  content: "\fcad";
}
.icon-feather-user-plus2:before {
  content: "\fcae";
}
.icon-feather-user-x:before {
  content: "\fcaf";
}
.icon-feather-users3:before {
  content: "\fcb0";
}
.icon-feather-video2:before {
  content: "\fcb1";
}
.icon-feather-video-off:before {
  content: "\fcb2";
}
.icon-feather-voicemail1:before {
  content: "\fcb3";
}
.icon-feather-volume8:before {
  content: "\fcb4";
}
.icon-feather-volume-1:before {
  content: "\fcb5";
}
.icon-feather-volume-2:before {
  content: "\fcb6";
}
.icon-feather-volume-x:before {
  content: "\fcb7";
}
.icon-feather-watch5:before {
  content: "\fcb8";
}
.icon-feather-wifi2:before {
  content: "\fcb9";
}
.icon-feather-wifi-off:before {
  content: "\fcba";
}
.icon-feather-wind3:before {
  content: "\fcbb";
}
.icon-feather-x1:before {
  content: "\fcbc";
}
.icon-feather-x-circle:before {
  content: "\fcbd";
}
.icon-feather-x-octagon:before {
  content: "\fcbe";
}
.icon-feather-x-square:before {
  content: "\fcbf";
}
.icon-feather-youtube3:before {
  content: "\fcc0";
}
.icon-feather-zap:before {
  content: "\fcc1";
}
.icon-feather-zap-off:before {
  content: "\fcc2";
}
.icon-feather-zoom-in2:before {
  content: "\fcc3";
}
.icon-feather-zoom-out2:before {
  content: "\fcc4";
}
