
li.full-bar {
  display: block;
}

li.mini-bar {
  display: none;
}

@media (max-width: 1025px) {
  li.full-bar {
    display: none;
  }

  li.mini-bar {
    display: block;
  }
}


body {
  background-color: #fff;
}

body .container-table {
  min-height: 450px;
  background-color: #fff;
  border-radius: 3px;
  font-size: 12px;
  position: relative;
}

.navbar-inverse {
    background-color: #3d0054;
}

.navbar-inverse .navbar-brand {
    color: #efefef;
}

.navbar-inverse .navbar-nav > li > a {
    color: #efefef;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffc140;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffc140;
    background-color: #460D5C;
    /*background-color: transparent;*/
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffc140;
    background-color: #460D5C;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #ffc140;
}

.txt-mea {
  color: #f26d23;
}

.txt-pea {
  color: #460d5c;
}

table.nowrap th, table.nowrap td {
  white-space: nowrap;
}

.box-recommend {
  color: blue;
}

/* css develop version */
/*.navbar-inverse {
  background-color: #ffe500;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  color: rgb(241, 87, 35) !important;
}*/
/* css develop version */