
.bootbox-body {
  font-size: 18px;
}

.required label:after, .required-f label:after, .required-n label:after {
    content: "*";
    color: #BD0000;
}

input.error, select.error, textarea.error {
  border: 1px solid #ff5b00;
}

input.error:focus, select.error:focus, textarea.error:focus {
  border: 1px solid #ff5b00;
  box-shadow: 0px 0px 7px #F44336;
}

.box-search {
  width: auto;
  min-width: 250px;
  max-width: 100%;
}

.form-control-w {
  width: auto;
  min-width: 500px;
  max-width: 100%;
}

.left-label {
    text-align: left !important;
}