
@media (min-width: 1300px) {
  .container{
    width: 1270px;
  }
}

.form-center{
  display: table;
  margin: 0 auto;
  padding: 15px;
  min-width: 475px;
  border: 1px solid #E7E7E7;
  border-radius: 3px;
}
.txt-bold {
  /*font-weight: bold;*/
  font-weight: 600;
}
.input-group label {
  color: #555;
}
b.valid {
  color: #A94442;
}
.httt {
  color: #fff;
  background-color: #b1b1b1;
  border-radius: 3px;
  padding: 5px 3px 3px 5px;
  margin-bottom: 30px;
}
.httt-selected {
  background-color: #faae1d;
}
.alldy span{
  /*color: #fff;*/
  /*background-color: #bfbfbf;*/
}
.alldy-selected span{
  color: #fff;
  background-color: #faae1d;
}
hr.end-row {
  margin-top: 15px;
  margin-bottom: 15px;
}
hr.line {
  border-top: 1px solid #ddd;
}
label.open-time {
  color: #004181;
  line-height: 34px;
}
label.day-time, label.every-day-time {
  color: #f7941d;
  line-height: 34px;
}
label.every-day-time {
  display: none;
}
.feedback-success {
  color: #3c763d;
  display: none;
}
.feedback-success {
  color: #3c763d;
  display: none;
}
.feedback-error {
  color: #a94442;
  display: none;
}

.outer-arrow-box {
  /*font-weight: bold;*/
  font-weight: 600;
  cursor: context-menu;
}
.outer-arrow-box a:hover .arrow-box {
  color: #004181;
  border-color: #004181;
}
.outer-arrow-box a:hover .arrow-box:before {
  border-left-color: #004181;
}
.arrow-box-active {
  position: relative;
  background: #1179d2;
  float: left;
  color: #fff;
  border-radius: 3px 0px 0px 3px;
  padding: 10px 10px 8px 10px;
}
.arrow-box-active:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: #1179d2;
  border-width: 18px;
  margin-top: -18px;
}
.arrow-box-3bb {
  position: relative;
  background: #f7941d;
  float: left;
  color: #fff;
  border-radius: 3px 0px 0px 3px;
  padding: 10px 10px 8px 10px;
}
.arrow-box-3bb:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: #f7941d;
  border-width: 18px;
  margin-top: -18px;
}

.arrow-box {
  position: relative;
  border-top: 1px solid #1179d2;
  border-bottom: 1px solid #1179d2;
  float: left;
  color: #1179d2;
  padding: 8px 10px 8px 28px;
}
.arrow-box:after, .arrow-box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-box:after {
  border-left-color: #fff;
  border-width: 17px;
  margin-top: -17px;
}
.arrow-box:before {
  border-left-color: #1179d2;
  border-width: 18px;
  margin-top: -18px;
}

.arrow-first {
  border-left: 1px solid #1179d2;
  border-radius: 3px 0px 0px 3px;
  padding-left: 15px;
}
.arrow-none {
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  color: #b7b7b7;
}
.arrow-none:before {
  border-left-color: #b7b7b7;
}

.arrow-box-manual {
  position: relative;
  border-top: 1px solid #FF5722;
  border-bottom: 1px solid #FF5722;
  float: left;
  color: #FF5722;
  padding: 8px 10px 8px 28px;
  border-right: 1px solid #FF5722;
  border-radius: 0px 3px 3px 0px;
}

.arrow-box-contract1 {
  position: relative;
  background: #acacac;
  float: left;
  color: #fff;
  border-radius: 3px 0px 0px 3px;
  padding: 10px 10px 8px 10px;
}
.arrow-box-contract1:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: #acacac;
  border-width: 19px;
  margin-top: -19px;
}
.arrow-box-contract2 {
  position: relative;
  background: #31708f;
  float: left;
  color: #fff;
  border-radius: 3px 0px 0px 3px;
  padding: 10px 30px 8px 10px;
  /*padding: 10px 10px 8px 10px;*/
  /*border-radius: 3px;*/
}
.arrow-box-contract2:after {
  right: 0px;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #fff;
  border-width: 19px;
  margin-top: -19px;
}

.txt-from-control {
  height: 34px;
  padding: 6px 0px;
  float: left;
}

span.text-remark {
  color: #777;
  font-size: 12px;
  margin-bottom: 5px;
  display: flex;
}
.txt-blue {
  color: blue;
}
.txt-blue-light {
  color: #0088f5;
}
.txt-red {
  /*color: red;*/
  color: #BD0000;
}
.txt-gray {
  color: gray;
}
.pic_up {
  margin-bottom: 15px;
  width: 349px;
  height: 230px;
}
.btn-3bb {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

table {
  color: #454545;
}
table > thead {
  /*font-weight: bold;*/
  font-weight: 600;
}

b.pending, .edt, .input-group strong.edt{
  color: #2196f3;
}

.del, .input-group strong.del{
  color: #F44336;
}
.adm b:hover {
  color: #666;
  cursor: pointer;
}
b.approve, .edt-approve{
  color: #4caf50;
}
b.cancle, .edt-cancle {
  color: #F44336;
}
.input-group strong {
  color: #555;
}
img.edt {
  border-color: #2196f3;
}

a.pending{
  border: solid 1px;
  border-radius: 3px;
  padding: 0px 18px 0px 18px;
  line-height: 36px;
  /*font-weight: bold;*/
  font-weight: 600;
  float: right;
  color: #2196f3;
}
a.pending:hover {
  color: #004181;
  text-decoration: initial;
}

#li_shopcode, #modal_approve_code{
  text-transform: uppercase;
}

b.follow {
  color: #ffb507;
}

b.follow, .edt-follow{
  color: #ffb507;
}
/******************** getting latlng ********************/
  #get_lat, #get_lng {
    color: blue;
  }
  #map_canvas  {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  #map_canvas {
    width:560px;
    height:400px;
  }
  #pac-input {
    border-radius: 2px;
    border-color: #4d90fe;
    width:400px;
  }

  #pac-input:focus {
    box-shadow: 1px 3px 5px #aaa; */
  }

  .pac-container {
    z-index: 1099;
    font-family: Roboto;
  }

  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }

  #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  #target {
    width: 345px;
  }
/******************** getting latlng ********************/


/******************** custom bootstrap ********************/
.chk-group .input-group-addon:last-child {
  border: 1px solid #ccc;
  height: 34px;
}
.form-center {
  min-width: 100%;
}
.popover {
  max-width: 430px;
}

/******************** custom bootstrap ********************/
